@page "/"
@inject DummySevice dummyService
@using DummyMauiApp.Models
@using DummyMauiApp.Services


@{
    if(products == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach(var product in products)
        {
            <div class="card" style="margin: 20px">
                <div class="card-header">
                    <h3>@product.title</h3>
                    <h5 class="card-title">@product.brand</h5>
                    @{
                        foreach(var image in product.images)
                        {
                            <img src="@image" alt="@product.title" class="img-fluid"  width="150"/>
                        }
                    }
                </div>
                <div class="card-body">
                    <p class="card-text">@product.description</p>
                </div>
            </div>
        }
    }
}

@code{
    List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await dummyService.GetProductsAsync();
    }
}