@page "/"
@inject DummySevice dummyService
@inject IDialogService DialogService
@inject NavigationManager NavManager
@inject IGeolocation geolocation
@using DummyMauiApp.Components.Controls
@using DummyMauiApp.Models
@using DummyMauiApp.Services
@using System.Diagnostics


<div>
    <div>
        <button class="btn btn-warning" @onclick="AddProduct">Add New Product</button>
        <button class="btn btn-warning" @onclick="CheckYourLocation">Check your location</button>


        <p>Title: @DialogData.title</p>
    </div>


    @if(products is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach(var product in products)
        {
            <div @onclick="() => GoToDetails(product)" class="card" style="margin-bottom: 20px;margin-top:20px;">
                <div class="card-header">
                    <h3>@product.title</h3>
                    <h5 class="card-title">@product.brand</h5>
                    @{
                        foreach (var image in product.images)
                        {
                            <img src="@image" alt="@product.title" class="img-fluid" width="150" />
                        }
                    }
                </div>
                <div class="card-body">
                    <p class="card-text">@product.description</p>
                </div>
            </div>
        }
    }
</div>

@code{
    List<Product> products = default!;
    private Product DialogData { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        products = await dummyService.GetProductsAsync();
    }

    private async Task AddProduct()
    {
        try
        {
            var data = new Product();

            var dialog = await DialogService.ShowDialogAsync<SimpleCustomizedDialog>(data, new DialogParameters()
            {
                Title = "Add New Product",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true
            });

            var result = await dialog.Result;
            if (!result.Cancelled && result.Data is not null)
            {
                DialogData = (Product)result.Data;
                dummyService.AddProduct(data);
                products = await dummyService.GetProductsAsync();
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
        }
    }

    private void GoToDetails(Product product)
    {
        NavManager.NavigateTo($"/details/{product.id.ToString()}");
    }

    [Inject]
    private IMap map { get; set; }

    private async Task CheckYourLocation()
    {
        try
        {
            var location = await geolocation.GetLastKnownLocationAsync();
            if (location is null)
            {
                location = await geolocation.GetLocationAsync(new GeolocationRequest
                    {
                        DesiredAccuracy = GeolocationAccuracy.Best,
                        Timeout = TimeSpan.FromSeconds(30)
                    });
            }

            if(map == null)
            {
                throw new NullReferenceException("Map service is not available")
                {
                    Data =
                    {
                        { "Location", location }
                    }
                };
            }

            await map.OpenAsync(location!.Latitude, location.Longitude, new MapLaunchOptions()
            {
                Name = "Your location",
                NavigationMode = NavigationMode.None
            });
        }
        catch (NullReferenceException ex)
        {
            var location = ex.Data["Location"] as Location;

            await ((Application)app).Windows[0].Page!.DisplayAlert("Your location",
                $"Your location is {location!.Latitude} {location.Longitude}", "OK");
        }
        catch (Exception ex)
        {
            Debug.WriteLine($"Unable to query location: {ex.Message}");
            await ((Application)app).Windows[0].Page!.DisplayAlert("Error", ex.Message, "OK");
        }
    }
}